body{
    background-color: #00BCD4;
}
.abt{
    background-color: #09758b;
}
.aboutt{
  font-family: 'Montserrat', sans-serif;
  
}
.aitem{
    background-color: rgb(255, 255, 255);
}
/* color: #fb8500; */
.abody{
    background-color: #09758b;
    color: white;
}
.x{
    font-weight: 600;
    background-color: #189ab4;
    color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color:#00BCD4;
    margin-left: 14px;
}
.logoParent{
    display: flex;
    flex-direction: row;
}
.list{
    display:flex;
    flex-direction: row;
    align-items: center;
}
a{
    color:#00BCD4;
    margin: 8px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.elem{
   padding:10px;
   font-size: 1.3rem;
   font-weight: 600;

}
.footer{
    position: absolute;
    width: 100%;
    height: 1.5rem;
    bottom: 0;
}
.card {
    font-family: 'Montserrat', sans-serif;
    width: 16rem;
    height: 22rem;
    background: #b4f0f6;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(24,154,180,0.705);
    font-size: 30px;
    font-weight: 900;
  }
  
  .card:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(24,154,180,0.705);
    background: rgb(24,154,180);

  }
  
  .first-content {
    height: 100%;
    width: 100%;
    color: #189ab4;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    margin-left: 7px;
    color: #b4f0f6;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
  }
  .trivia{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }

  .qcard{
    font-family: 'Montserrat', sans-serif;
    width: 45rem;
    height: 30rem;
    color: #189ab4;
    background: #b4f0f6;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(24,154,180,0.705);
    font-size: 30px;
    font-weight: 900;
  }

  .qcard:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #b4f0f6;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 5px  rgba(24,154,180,0.705);
    background: rgb(24,154,180);
  }
  .parent{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .children
  {
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    align-items:center;
    justify-content: space-evenly;
  }
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
  }
.btn{
  font-family: 'Montserrat', sans-serif;
}