body{
    background-color: #00BCD4;
}
.abt{
    background-color: black;
}
.aitem{
    background-color: rgb(243, 241, 239);
}
/* color: #fb8500; */
.abody{
    background-color: black;
    color: white;
}
.x{
    background-color: #212529;
    color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:#00BCD4;
    margin-left: 14px;
}
.logoParent{
    display: flex;
    flex-direction: row;
}
.list{
    display:flex;
    flex-direction: row;
    align-items: center;
}
a{
    color:#00BCD4;
    margin: 8px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.elem{
   padding:10px;
   font-size: 1.3rem;

}
.footer{
    position: absolute;
    width: 100%;

    height: 1.5rem;
    bottom: 0;
    

}